@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 326 100% 65%;
    --primary-foreground: 0 0% 0%;

    --secondary: 300 10% 12%;
    --secondary-foreground: 326 100% 65%;

    --muted: 300 10% 12%;
    --muted-foreground: 326 55% 75%;

    --accent: 300 15% 20%;
    --accent-foreground: 326 100% 75%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 326 55% 75%;
    --input: 326 30% 75%;
    --ring: 326 100% 65%;

    --radius: 0.5rem;

    --sidebar-background: 300 10% 12%;
    --sidebar-foreground: 326 55% 75%;
    --sidebar-primary: 326 100% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 300 15% 20%;
    --sidebar-accent-foreground: 326 55% 75%;
    --sidebar-border: 300 15% 20%;
    --sidebar-ring: 326 100% 65%;
  }

  .dark {
    --background: 300 10% 5%;
    --foreground: 326 55% 90%;

    --card: 300 10% 12%;
    --card-foreground: 326 55% 90%;

    --popover: 300 10% 12%;
    --popover-foreground: 326 55% 90%;

    --primary: 326 100% 65%;
    --primary-foreground: 0 0% 0%;

    --secondary: 300 10% 12%;
    --secondary-foreground: 326 100% 75%;

    --muted: 300 15% 20%;
    --muted-foreground: 326 55% 75%;

    --accent: 300 15% 20%;
    --accent-foreground: 326 100% 75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 326 55% 35%;
    --input: 326 30% 35%;
    --ring: 326 100% 65%;
    
    --sidebar-background: 300 10% 12%;
    --sidebar-foreground: 326 55% 75%;
    --sidebar-primary: 326 100% 65%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 300 15% 20%;
    --sidebar-accent-foreground: 326 55% 75%;
    --sidebar-border: 300 15% 20%;
    --sidebar-ring: 326 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}